.top {
  display: flex;
  flex-wrap: wrap;
}

.news-header {
  flex-basis: auto;
}

.ads {
  flex-basis: 0;
  padding: 8px;
}

.rates {
  display: flex;
  flex-wrap: wrap;
}

.rate {
  padding: 5px;
}

.rate-span {
  padding: 2px;
}