.top {
  display: flex;
}

.news-header {
  flex-basis: auto;
}

.ads {
  padding: 8px;
  font-size: 14px;
}

.ads-content {
  font-size: 10px;
}

.rates {
  display: flex;
  flex-wrap: wrap;
}

.rate {
  padding: 5px;
}

.rate-span {
  padding: 2px;
}